body{
    font-family:'Source sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 2.2rem;
    font-weight: 400;
    background: transparent;
    display: block;
    margin: 0;
    padding:0;
}
/* .blurback{
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left:0;
    background: #fff;
    opacity: 0.8;
    z-index:99999;
    display: none;
}
.universalloader{
    width: 75px;
    height:75px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -37px;
    margin-top: -37px;
    z-index: 99999;
    display:none;
}
.gdpr_holder{
    background: #fff;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 2rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0.2rem 3rem 0 rgb(170 170 170 / 80%);
    border-radius: 0.6rem;
    z-index: 999991;

} */
/* top stripe styling starts */
.top_stripe{
    background: rgb(48, 127, 245);
    padding: 1rem 0;
    margin: 0;
}
.top_stripe .main_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 124rem;
    width: 100%;
    margin: 0 auto;
    
}
.leftinfo{
    display: flex;
}
.block> a{
    color: #fff;
    margin-right: 2rem;
    align-items: center;
}
.right_social_top{
    width: 11.4rem;
    display: flex;
    align-items: center;
}
img, object, embed {
    max-width: 100%;
}
.social-logo{
    width: 30px;
    height: 30px;
    margin-right: 1rem ;
}
.logo{
    width:20rem;
    height:10rem;
    margin:1rem;
}
header a.logo {
    flex: 0 0 29.2rem;
}
/* top stripe styling ends */


/* navbar styling starts */
#title{
    background-color: #c0fefc;
    padding: 0 1rem .2rem;
    text-align: left;
    border: none;
}

.navbar-nav>li{
    
    font-size: 4 rem;
    color: black;
    
    
}
/* .nav-item{
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-weight: 500;
} */
.dropdown-item{
    font-weight: 500;
    margin: 2px;
  }

.bs-example{
    margin: 0px 5px 5px 10px;
    padding-top: 0%;
}
.nav-link{
    display: block;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    margin: 0 1.5rem;
    font-weight: 200;
}
.navbar-brand{
    font-family:'Times New roman' ;
    font-size: 2.5rem;
   
}
/* navbar styling ends */
/* banner section */
.banner_section {
    background-image: linear-gradient(to right,#3fc8f4 10%,#21acd8 95%);
    padding: 0;
}
.inner_banner_block {
    padding: 2rem 0 0 0;
}
.inner_section {
    background: url(texture.png) repeat-x;
    padding: 2rem 0;
}
.main_wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 124rem;
    width: 100%;
    margin: 0 auto;
}
.main_wrapper h1{
    font-size: 3rem !important;
    color: #fff;
    text-align: center;
    line-height: 4rem;
}
/* summer camp */
.new_summer_camps {
    padding-bottom: 3rem;
}
.main_tab_content_holder {
    padding: 3rem 0;
}
.camp_wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 117rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.description_holder {
    margin: 0 0 2.4rem 0;
    padding: 0 6rem;
}
.new_course_block {
    margin: 0;
    padding: 0;
}
.cnblock {
    border-radius: 2rem;
    box-shadow: 0 0.8rem 1.6rem rgb(0 0 0 / 10%);
    padding: 2rem;
    border: 0.1rem solid #ededed;
    display: flex;
    flex-wrap: wrap;
}
.cnblock .dataholder {
    flex: 1;
    max-width: 100%;
}
.cnblock .picholder {
   
    margin-right: 3rem;
    border-radius: 2rem;
}

.two_data_course_block {
    margin: 2rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.two_data_course_block .ageinfo {
    flex: 0 0 29rem;
    max-width: 100%;
    padding-left: 1rem;
}
.two_data_course_block .ageinfo .block h3 {
    font-family: var(--gbold);
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 1rem;
}

.two_data_course_block .ageinfo .block h3 span {
    font-family: var(--ass);
    font-size: 1.3rem !important;
    color: var(--blue);
    font-weight: 600;
}
.two_data_course_block .ageinfo .block p {
    font-size: 1rem !important;
    color: var(--blue);
    font-weight: 600;
    line-height: 2rem;
}
.two_data_course_block .ageinfo .block p:not(:last-child) {
    margin-bottom: 0.3rem;
}
.two_data_course_block .ageinfo .block h3 {
    font-family: var(--gbold);
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 1rem;
}
.two_data_course_block .availability {
    flex: 0 0 25rem;
    max-width: 100%;
}
.two_data_course_block .availability h3 {
    font-family: var(--gbold);
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 1.4rem;
}
.two_data_course_block .availability .block:not(:last-child) {
    margin-bottom: 1.7rem;
}
.two_data_course_block .availability .block h4.yellow {
    background: var(--yellow);
}
.two_data_course_block .availability .block h4 {
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--blue);
}
.sky_blue {
    background:skyblue;
}
.two_data_course_block .availability .block h4 {
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--blue);
}
.cnblock .dataholder .button_block {
    display: flex;
    flex-wrap: wrap;
}
.cnblock .dataholder .button_block a.green {
    background: #83c22b;
}
.cnblock .dataholder .button_block a.mred {
    background: #f2777e;
}
.cnblock .dataholder .button_block a {
    flex: 0 0 25rem;
    max-width: 100%;
    height: 6rem;
    border-radius: 0.6rem;
    text-align: center;
    font-family: var(--gbold);
    font-size: 2.1rem;
    color: var(--white);
    text-decoration: none;
    line-height: 6rem;
}

/* .two_data_course_block .availability .block ul li:not(:last-child) {
    
} */
.two_data_course_block .availability .block ul li {
    text-align: left;
    font-size: 0.9rem;
    padding: 0.6rem;
    border-right: 0.1rem solid #494f57 !important;
    font-weight: bold;
    display: inline-block;
    color: #494f57;
}
.two_data_course_block .availability .block ul li span {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #494f57;
    font-weight: 200;
}
.cnblock .dataholder .button_block {
    display: flex;
    flex-wrap: wrap;
}
.cnblock .dataholder .button_block a:not(:last-child) {
    margin-right: 1.5rem;
}

.cnblock .dataholder .button_block a {
    flex: 0 0 25rem;
    max-width: 100%;
    height: 6rem;
    border-radius: 0.6rem;
    text-align: center;
    font-family: var(--gbold);
    font-size: 2.1rem;
    color: var(--white);
    text-decoration: none;
    line-height: 6rem;
}

  /* Footer Styling Starts */
  .footer-container{
    padding-left: 30px;
}
.footer-below{
  color:white;
  background:black;
  
  padding:15px;
  }
  .footer-below h4{
    font-size: 23px !important;
  }
  .footer-below p{
    color:grey;
  }
  .footer-below p>a{
    color:grey;
    text-decoration: none;
  }
  .footer-below p> a:hover{
    color:cyan !important;
    text-decoration: none;
  }
  .upper{
    border-bottom:1px solid cyan;
    margin-bottom: 25px;
    margin-top:25px;
  }
  /* Footer Styling Ends */


@media only screen and (max-width: 767px){
    .mobile_nav {
        width: 3rem;
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    .gdpr_holder{
        width: 28rem;
    }
    .top_stripe .main_wrapper .leftinfo {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    .two_data_course_block .ageinfo, .two_data_course_block .availability {
        flex: 1;
        max-width: 100%;
    }
    
    .cnblock .dataholder .button_block a.green {
       margin-bottom: 1rem;
    }
    .cnblock .dataholder .button_block a.mred {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
header a.logo {
    flex: 0 0 18rem;
}
}